body{
    font-family: Arial;
    background:#f0f0f0;
    text-align:center;
}

.chat-container{
    width:600px;
    margin:auto;
    margin-top:30px;
}

#chat-box{
    height:400px;
    background:white;
    border:1px solid #ccc;
    overflow-y:auto;
    padding:10px;
    margin-bottom:10px;
}

input{
    width:70%;
    padding:10px;
}

button{
    padding:10px;
}